Repository fgardt/factorio-scanner, pull requests merged in 2024-06, with the labels that each got.

#138 fix: adjusted inserter arm rendering
  prototypes/src/entity/inserter.rs
Labels: crate/prototypes, kind/bug

#139 fix: respect walls `visual_merge_group`
  Cargo.lock
  prototypes/Cargo.toml
  prototypes/src/entity.rs
  prototypes/src/entity/simple_entities.rs
  prototypes/src/fluid.rs
  prototypes/src/item.rs
  prototypes/src/item/item_with_label.rs
  prototypes/src/item/item_with_label/selection_tool.rs
  prototypes/src/item/tool.rs
  prototypes/src/lib.rs
  prototypes/src/recipe.rs
  prototypes/src/signal.rs
  scanner/src/lib.rs
  types/Cargo.toml
  types/src/item.rs
  types/src/lib.rs
Labels: crate/prototypes, crate/types, crate/scanner, kind/bug, kind/feature

#140 Support different application and user data directories and improve path inference
  scanner/src/lib.rs
  scanner/src/main.rs
Labels: crate/scanner, kind/bug, kind/enhancement, target/linux, target/mac

#141 refactor: prototype namespaces & ids
  Cargo.lock
  Cargo.toml
  blueprint/Cargo.toml
  blueprint/src/blueprint.rs
  blueprint/src/lib.rs
  blueprint/src/planner/decon.rs
  blueprint/src/planner/upgrade.rs
  prototypes/Cargo.toml
  prototypes/src/entity.rs
  prototypes/src/fluid.rs
  prototypes/src/item.rs
  prototypes/src/lib.rs
  prototypes/src/recipe.rs
  prototypes/src/signal.rs
  prototypes/src/tile.rs
  scanner/src/lib.rs
  types/Cargo.toml
  types/src/ids.rs
  types/src/item.rs
  types/src/lib.rs
Labels: crate/blueprint, crate/prototypes, crate/types, crate/scanner, kind/enhancement

#143 fix: respect min_scale command-line argument
  scanner/src/lib.rs
  scanner/src/main.rs
Labels: crate/scanner, kind/bug

#147 feat: improved belt rendering (undergrounds, linked belt, loaders)
  Cargo.lock
  prototypes/Cargo.toml
  prototypes/src/entity/transport_belts.rs
  scanner/README.md
  scanner/src/lib.rs
  types/Cargo.toml
  types/src/lib.rs
Labels: crate/prototypes, crate/types, crate/scanner, kind/enhancement

#149 fix: default `base` dependency
  Cargo.lock
  mod_util/Cargo.toml
  mod_util/src/mod_info.rs
Labels: crate/mod_util, kind/bug

#150 feat: inserter "alt" mode
  Cargo.lock
  Cargo.toml
  blueprint/Cargo.toml
  blueprint/src/blueprint.rs
  prototypes/Cargo.toml
  prototypes/src/entity/inserter.rs
  scanner/Cargo.toml
  scanner/README.md
  scanner/src/lib.rs
  types/Cargo.toml
  types/src/lib.rs
Labels: crate/blueprint, crate/prototypes, crate/types, crate/scanner, kind/feature

#152 feat: improved tile rendering
  Cargo.lock
  README.md
  prototypes/Cargo.toml
  prototypes/src/entity.rs
  prototypes/src/entity/abstractions/energy_entity.rs
  prototypes/src/entity/rail_signals.rs
  prototypes/src/entity/transport_belts.rs
  prototypes/src/tile.rs
  scanner/src/lib.rs
  types/Cargo.toml
  types/src/graphics.rs
  types/src/lib.rs
Labels: crate/prototypes, crate/types, crate/scanner, kind/enhancement

#153 fix: any size tile
  prototypes/src/tile.rs
Labels: crate/prototypes, kind/bug

#154 fix: detect unknown tiles
  scanner/src/lib.rs
Labels: crate/scanner, kind/bug

#158 fix: `working_visualisation` array or single
  Cargo.lock
  prototypes/Cargo.toml
  prototypes/src/entity/crafting_machines.rs
  prototypes/src/lib.rs
Labels: crate/prototypes, kind/bug

#159 perf: improve runtime of `active_with_order`
  Cargo.lock
  mod_util/Cargo.toml
  mod_util/src/mod_list.rs
Labels: crate/mod_util, kind/performance

#162 fix: blueprint book icons
  Cargo.lock
  blueprint/Cargo.toml
  blueprint/src/lib.rs
  scanner/src/lib.rs
Labels: crate/blueprint, crate/scanner, kind/bug

#164 fix: background grid continuous lines
  Cargo.lock
  prototypes/Cargo.toml
  prototypes/src/lib.rs
Labels: crate/prototypes, kind/bug

#165 fix: fractional tile res
  scanner/src/lib.rs
Labels: crate/scanner, kind/bug
